


<h3>Teaching</h3>
<p>Teaching assistant in Radboud University for the following bachelor courses: </p>
<ul>
  <li> 2024-2025 <a href="https://ru.osiris-student.nl/onderwijscatalogus/extern/cursus?cursuscode=NWI-IPC020&collegejaar=2024"> Mathematical Structures (NWI-IPC020)</a> </li>
  <li> 2023-2024 <a href="https://ru.osiris-student.nl/onderwijscatalogus/extern/cursus?cursuscode=NWI-IPI004&collegejaar=2024"> Logics and Applications (NWI-IPI004) </a>  </li>
  <li> 2022-2023 <a href="https://ru.osiris-student.nl/onderwijscatalogus/extern/cursus?cursuscode=NWI-IPI004&collegejaar=2024"> Logics and Applications (NWI-IPI004) </a>  </li>
  <li> 2021-2022 <a href="https://ru.osiris-student.nl/onderwijscatalogus/extern/cursus?cursuscode=NWI-IPI004&collegejaar=2024"> Logics and Applications (NWI-IPI004) </a>  </li>
</ul>


<h3>Editorial</h3>
<p>Program Committee: </p> 
<ul>
  <li>FSE 2027/ToSC 2026/2027</li>
  <li>SAC 2026</li>
  <li>ProTeCS 2026</li>
  <li>Inscrypt 2025</li>
</ul>
<p>External reviewer: </p> 
<ul>
  <li>EUROCRYPT 2026</li>
  <li>CRYPTO 2025, 2024, 2023</li>
  <li>ASIACRYPT 2025, 2023, 2022</li>
  <li>Journal of Cryptology (2024)</li>
  <li>Inscrypt 2024 </li>
  <li>Designs, Codes, and Cryptography (2023)</li>
</ul>


<h3>Organization</h3>
<ul>
  <li>Part of the organizing team of <a href="https://gapsworkshop.github.io/online/">Online GAPS seminar </a></li>
  <li>Co-organizer of <a href="https://gelrecrypt.cs.ru.nl">GelreCrypt 2025</a> (Nijmegen, November 2025)</li>
</ul>


<h3>Selected Presentations</h3>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

