<a href="files/thesis.pdf">  Provable Security of Permutation-Based Cryptography</a>

<h3> Members of the Doctoral Examination Board </h3>
<ul>
  <li> prof. dr. J.J.C. Daemen (supervisor) </li>
  <li> prof. dr. B.J.M. Mennink (co-supervisor) </li>
  <li> prof. dr. J.H. Geuvers (manuscript committee) </li>
  <li> prof. dr. T. Ristenpart (manuscript committee) </li>
  <li> dr. M. Eichlseder (manuscript committee) </li>
  <li>  dr. G. Leurent (manuscript committee) </li>
  <li>  dr. M. Stam   </li>
  <li>  dr. M.T.C. Venema  </li>
  <li> prof. dr. L. Batina (acting rector) </li>
</ul>


            



<h3> Date, Time, and Location </h3>

Tuesday, 10th February at 12h30 

Comeniuslaan 2,
6525HP Nijmegen

<h3> Abstract </h3>



<p> Permutation-based cryptography, in particular the sponge construction, has
become central to the design of lightweight symmetric schemes.
In this thesis, we advance the state of provable security for permutation-
based designs in several ways.</p>
<p>First, we establish tight bounds on the preimage resistance of the sponge
construction using a new proof technique. This result significantly improves
generic preimage security for many lightweight schemes. In addition, we prove
indifferentiability of the sponge in two scenarios that have received limited
attention: (i) when input messages are bounded in size, and (ii) when inputs
are not required to remain secret.</p>

<p>Second, we introduce new sponge-based constructions. We propose the
double sponge, the first permutation-based hash function to achieve indifferentiability security beyond the birthday bound in the capacity.
We also present two efficient sponge-based pseudorandom function con-
structions which outperform existing state-of-the-art designs in terms of efficiency.</p>


<p>Next, we explore permutation-based hashing in specific contexts, namely
password-based hash chains and finite-field-oriented designs. Our results demonstrate that dedicated analysis and small design tweaks can yield stronger security guarantees and more efficient schemes.</p>

<p>Finally, we unify and sharpen the generic security analysis of the authenticated encryption mode of Ascon, the winner of the Lightweight Cryptography competition organized by the US National Institute of Standards and Technology. We systematize existing knowledge, introduce a novel security model, and
fill important gaps, which together complete the picture of its generic security.  </p>

